<h1>Apagar Atividade</h1>
<br>
<form action="/ap" method="post">
<label for="id">Qual o Id da Atividade?</label>
<input type="text" name="id" placeholder="Digite aqui"><br>
<button type="submit">Apagar Atividade</button>
</form>