<h1>Atualizar Setor</h1>
<br>

<form action="/as" method="post">
<label for="id">Qual é o id do Setor</label>
<input type="text" name="id" placeholder="Digite aqui"><br>
<label for="num_setor">Qual é o novo numero do Setor</label>
<input type="text" name="num_setor" placeholder="Digite aqui"><br>
<label for="nome_setor">Qual é o novo nome Setor</label>
<input type="text" name="nome_setor" placeholder="Digite aqui"><br>
<br>
<button type="submit">Atualizar</button>
</form>