<h1>Cadastro de Setor</h1>
<br>
<form action="/s" method="post">
<label for="numero_s">Qual o número do Setor?</label>
<input type="text" name="numero_s" placeholder="Digite aqui"><br>
<label for="nome_s">Qual o nome do Setor?</label>
<input type="text" name="nome_s" placeholder="Digite aqui"><br>
<br>
<button type="submit">Cadastrar Setor</button>
</form>

