<h1>Cadastro de Atividade</h1>
<br>
<form action="/a" method="post">
<label for="numero_a">Qual o número da Atividade?</label>
<input type="text" name="numero_a" placeholder="Digite aqui"><br>
<br>
<label for="nome_a">Qual o nome da Atividade?</label>
<input type="text" name="nome_a" placeholder="Digite aqui"><br>
<button type="submit">Cadastrar Atividade</button>
</form>

